
.container-task {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.23);
  padding-top: 7px;
  border-radius: 4px;

}


.container-task-add {
  display: flex;
  padding: 0 10px 10px 10px;
  gap: 5px;
}

.container-task-add-icon-plus {
  width: 2%;
  color: #007FFF ;
}

.container-task-add-avatar {
  width: 2%;
}

.container-task-add-button-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(250, 251, 251);
  border-top: 1px solid rgba(231, 236, 239, 1);
}

.container-task-add-button-bar-left, .container-task-add-button-bar-right {
  display: flex;
  gap: 4px;
}

.container-task-add-button-bar-icon-btn:nth-of-type(1) {
  margin-right: 50px;
  color: #04142F;
  background-color: #EAF0F5;
}

.container-task-add-button-bar-action-btn-cancel {
  color: #04142F;
  background-color: #EAF0F5;
}


.container-task-add-tag {
  text-align: left;
  padding-inline: 5px;
  width: 100%;
  height: 45px;
}

.container-task-add-tag:focus {
  outline: none;
  height: 45px;
}

.tag {
  cursor: pointer;
}

.tag-purple {
  color: purple;
}

.tag-green {
  color: green;
}

.tag-orange {
  color: orange;
}

.tag-blue {
  color: blue;
}

div.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.icon-btn {
  border-radius: 7%;
}



